
main .likes-container--topfix {
	margin-top: 10px;
}

main .likes a {
	color: #5e5e5e;
	display: block;
	position: relative;
	height: 23px;
	padding: 5px 8px 0 8px;
	z-index: 100;
	background: rgba(34,59,74,0.2);
	font-weight: bold;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

main .likes a:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: rgba(53, 66, 73, 0.32);
	font-weight: bold;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

main .likes.liked a, main .likes.liked a:hover {
	background: #8fc847;
	background: rgba(132,192,62,0.9);
	-webkit-transform: translate3d(0,0,0);
	color: white;
}

main .likes .counter {
	overflow: hidden;
	padding: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}