.alert {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    font-size: 80%;
	padding: 20px;
}

.alert a, .alert a:visited {
    color: rgb(169, 226, 255);
}