
main .login-container,
main .model-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 300px;
}

main .login-form-container {
	margin-bottom: 10px;
}

main .login-form-footer {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -8px;
}

main .login-form-links {
	font-size: 12px;
	color: #aaa;
}

main #login-form {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

main #login-form input {
	margin-top: 10px;
}
main #login-form input:first-of-type {
	margin-top: 15px;
}

main #login-form input[type="text"], main #login-form input[type="password"] {
	width: 100%;
}
/** Social Media Icons **/
main .social-icons {
	width: 32px;
	height: 32px;
	display:block;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	-o-transition: .5s linear;
	-ms-transition: .5s linear;
	transition: .5s linear;
	float:left;
	margin: 5px;
}

main .social-buttons {
	margin-left: auto;
	margin-right: auto;
	width: 51%;
}

main .social-icons.facebook {
	background: url('../images/icons/facebook.png') no-repeat;
}

main .social-icons.facebook:hover {
	background: url('../images/icons/facebook_hover.png') no-repeat;
}

main .social-icons.linkedin {
	background: url('../images/icons/linkedin.png') no-repeat;
}

main .social-icons.linkedin:hover {
	background: url('../images/icons/linkedin_hover.png') no-repeat;
}

main .social-icons.google {
	background: url('../images/icons/google.png') no-repeat;
}

main .social-icons.google:hover {
	background: url('../images/icons/google_hover.png') no-repeat;
}

main .social-icons.twitter {
	background: url('../images/icons/twitter.png') no-repeat;
}

main .social-icons.twitter:hover {
	background: url('../images/icons/twitter_hover.png') no-repeat;
}


main #password_strength_2 {
	margin-bottom: 15px;
}

main .password_strength_container {
	position: relative;
	width: 100%;
	margin-top: -6px;
	height: 10px;
}

main .password_strength_bg {
	height: 4px;
	background-color: #e8e8e8;
	width: 100%;
	position: absolute;
	left: 0;
}

main .password_strength {
	height: 4px;
	background-color: #c81818;
	width: 0;
	position: absolute;
	left: 0;
}

main .password_strength.great, main .password_strength_desc.great {
	background-color: rgb(39, 179, 15);
}

main .password_strength.good, main .password_strength_desc.good {
	background-color: rgb(166, 192, 96);
}

main .password_strength.poor, main .password_strength_desc.poor {
	background-color: rgb(255, 172, 29);
}

main .password_strength.bad, main .password_strength_desc.bad {
	background-color: #c81818;
}

main .password_strength_separator {
	height: 4px;
	width: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
}

main .password_strength_desc {
	float: right;
	margin-top: 6px;
	line-height: 16px;
	font-size: 11px;
}